#canvas-frame{
    border: none;
    cursor: pointer;
    width: 600px;
    height: 600px;
    background-color: #ffffff;
}

/* ボタン共通設定 */
.btn{
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #efff42;
	color: #efff42;
    font-family: 'Aoboshi One', serif;
	border-radius: 100vh;
	transition: 0.5s;
}
.btn:hover{
	color: #000000;
	background: #efff42;
}

#select, #mode {
    width: 600px;
    margin: auto;
    text-align: center;
}

.guide{
    background: #fff425;
    border: 2px dashed #000000;
    border-radius: 10px;
    box-shadow: 0 0 0 7px #fff425;
    /* background:url(http://webcreatorbox.com/sample/images/check.png) repeat-x 0 25px; */
    display: inline-block;
    position: relative;
    top: 150px;
    font-size: 30px;
    font-weight: 300;
    /* font-family: z"Niko Moji", cursive; */
    /* font-family: 'Cherry Bomb One', cursive; */
    /* font-family: 'Darumadrop One', cursive; */
    font-family: 'Aoboshi One', serif;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000000;
}
#sel-btn, #md-btn {
    position: relative;
    top: 500px;
    font-size: larger;
}
#sel-btn:hover {
   
}

.reset {
    display: flex;
}

/* ボタン個別設定 */
#start-btn {
    font-size: larger;
    position: fixed;
    top: 500px;
    left: 176px;
}
#music-btn {
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    top: 100px;
}
#reset-btn{
    position: relative;
    top: 600px;
}
#reset-btn2{
    position: relative;
    top: 600px;
}

.bar {
    width: 17%;
    text-align: center;
    background-color: #f8ffd1;
    float: left;
    border-radius: 3px;
    border: solid;
    border-color: #72ff8c;
}
.bar:hover {
    color: #fff;
	background: #27acd9;
}