#canvas-frame{
    border: none;
    cursor: pointer;
    width: 600px;
    height: 600px;
    background-color: #ffffff;
}

/* ボタン共通設定 */
.btn, .bar{
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #efff42;
	color: #efff42;
    font-family: 'Aoboshi One', serif;
	border-radius: 100vh;
	transition: 0.5s;
}
.btn:hover{
	color: #000000;
	background: #efff42;
}

#select, #mode {
    width: 600px;
    height: 10px;
    margin: auto;
    text-align: center;
}

.guide{
    background: #fff425;
    border: 2px dashed #000000;
    border-radius: 10px;
    box-shadow: 0 0 0 7px #fff425;
    /* background:url(http://webcreatorbox.com/sample/images/check.png) repeat-x 0 25px; */
    display: inline-block;
    position: relative;
    top: 100px;
    font-size: 30px;
    font-weight: 300;
    /* font-family: z"Niko Moji", cursive; */
    /* font-family: 'Cherry Bomb One', cursive; */
    /* font-family: 'Darumadrop One', cursive; */
    font-family: 'Aoboshi One', serif;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000000;
}
#sel-btn, #md-btn {
    position: relative;
    top: 500px;
    font-size: larger;
}

.reset {
    height: 10px;
    display: flex;
}

/* ボタン個別設定 */
#start-btn {
    font-size: larger;
    position: fixed;
    top: 500px;
    left: 176px;
}
#music-btn {
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 90px;
}
#before {
    display: inline-block;
    width: 60px;
    height: 20px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 70px;
    left: 500px;
}
#reset-btn{
    position: relative;
    top: 600px;
}
#reset-btn2{
    position: relative;
    top: 600px;
}

.bar {
    width: 100px;
    height: 30px;
    padding: 0%;
    color: #000000;
    background-color: #efff42;
    /* width: 17%;*/
    text-align: center;
    line-height: normal;
    float: left;
}
.bar:hover {
	background-color: #afbb28;
}

#auto-btn:hover .balloon {
    display: block;                /* インライン要素として表示 */
}
#free-btn:hover .balloon2 {
    display: block;                /* インライン要素として表示 */
}
.balloon, .balloon2 {
    position   : absolute;                /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color: rgba(255, 255, 255, 0.7);       /* 背景色（透明度） */
    width:180px;                          /* 吹き出し全体の幅 */
    left : 10%;                           /* 表示位置 */
    bottom : 100%;                        /* 表示位置 */
    margin-bottom : 12px;                 /* 表示位置 */
    font-size: 80%;                       /* 文字サイズ */
}
.balloon2 {
    left: 60%;
}
.balloon:after, .balloon2::after{
    border-top: 12px solid  rgba(255, 255, 255, 0.7);    /* 吹き出し口の高さ・色 */
    border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
    border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
    bottom: -12px;                          /* 吹き出し口の位置調整 */
    left : 5%;                              /* 吹き出し口の横位置 */
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
}