/* キャンバス設定 */
#canvas-frame{
    border: none;
    cursor: pointer;
    width: 600px;
    height: 600px;
    background-color: #ffffff;
}

/* 全ボタン共通設定 */
.btn, .bar{
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #efff42;
	color: #efff42;
    font-family: 'Aoboshi One', serif;
	border-radius: 100vh;
	transition: 0.5s;
}
.btn:hover{
	color: #000000;
	background: #efff42;
}

/* タイトル画面 */
#start-btn {
    font-size: larger;
    position: fixed;
    top: 500px;
    left: 176px;
}
#music-btn {
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 90px;
}
#before {
    display: inline-block;
    width: 60px;
    height: 20px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 70px;
    left: 500px;
}

/* モード選択画面 */
.guide{
    background: #fff425;
    border: 2px dashed #000000;
    border-radius: 10px;
    box-shadow: 0 0 0 7px #fff425;
    display: inline-block;
    position: relative;
    top: 100px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Aoboshi One', serif;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000000;
}
#select, #mode {
    width: 600px;
    height: 10px;
    margin: auto;
    text-align: center;
}
#sel-btn, #md-btn {
    position: relative;
    top: 500px;
    font-size: larger;
}
#auto-btn:hover .balloon {
    display: block;
}
#free-btn:hover .balloon2 {
    display: block; 
}
#exp:hover .balloon3 {
    display: block; 
}
.balloon, .balloon2, .balloon3 {
    position   : absolute;
    display: none;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    width:180px;
    left : 10%;
    bottom : 100%;
    margin-bottom : 12px;
    font-size: 80%;
}
.balloon2 {
    left: 60%;
}
.balloon::after, .balloon2::after, .balloon3::after{
    border-top: 12px solid  rgba(255, 255, 255, 0.7);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -12px;
    left : 5%;
    content: "";
    position: absolute;
}

/* フリーモード画面 */
.reset {
    height: 10px;
    display: flex;
}
#reset-btn{
    position: relative;
    top: 600px;
}
#reset-btn2{
    position: relative;
    top: 600px;
}

.bar {
    width: 95px;
    height: 30px;
    padding: 0%;
    color: #000000;
    background-color: #efff42;
    text-align: center;
    line-height: normal;
    float: left;
}
.bar:hover {
	background-color: #afbb28;
}
